/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 28, 2017, 6:07:18 PM
    Author     : o0BAMBAM0o
*/

ul  {
	-webkit-padding-start: 0px;
}

body {
	background: #dfd6c8 url(../images/beach-full-size.jpg) no-repeat center -260px;
	overflow-x:hidden;
	max-width:100%;

}

.modal-dialog {width:75%;}

.squeeze {
	width:80%;
	max-width: 1800px;
	margin: 20px auto;
	position:relative;
	z-index:100;
	box-shadow: 2px 2px 20px 2px rgba(0,0,0,0.3);

}

.main-block {
	background:rgba(255,255,255,0.7);
	background: -moz-linear-gradient(top, rgba(255,255,255,0.6) 0%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(255,255,255,0.6) 0%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(255,255,255,0.6) 0%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#99ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}

.pad {
	padding:0 15px;
}

article, .content {padding:8px 1vw;}

article h4, article h2, article p strong {
	font-weight: 700;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.12);
    color: #178acc;
}

header {
	background:white url(../images/marble.jpg);
	padding:10px 0;
	border-bottom: 1px solid grey;
    padding-bottom: 6px;
}
header h1 {
	text-align: center;
	margin-top:0;
	border-bottom:2px solid rgba(125,125,125,0.2);
	padding-bottom:6px;
	color:#178acc;
	font-weight:700;

}

header h1 span {
	
}

header h1 .btn {
	margin-top:-7px;
	margin-left:6px;
}

header h1 span {
	margin-left:4px;
	display:inline-block;
	font-size:104%;
}

header img.showbiz  {
	margin-top: -36px;
}

header .amp  {
	margin-top: 16px;
    display: block;
    font-size: 400%;
}
header .right .row {
	color:#50B2EA;
}

#location {
	font-size: 56%;
	line-height: 16px;
	padding-top: 8px;
	display: inline-block;
	text-align:left;
}

* {
	box-sizing: border-box;
}

.modal.in + #return-to-top {
	opacity:0;
}

#return-to-top {
    position: fixed;
    bottom: 20px;
    right: -60px;
	background: rgb(80, 178, 234);
    background: rgba(80, 178, 234, 0.7);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    border-radius: 50px;
    transform: rotate(45deg);
	opacity:0;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
	z-index:10000;
	border:1px solid white;
	border-color: rgba(255, 255, 255, 0.5);		
}
#return-to-top:after {
	content: "top";
	position:absolute;
	top:11px;
	left:11px;
	transform: rotate(-45deg);
	font-size:20px;
	font-weight:bold;
	 -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#return-to-top:hover:after {
	top:6px;
	left:6px;
	color:white;
}

#return-to-top:before {
    content: "^";
    font-size: 50px;
    font-family: monospace;
    transform: rotate(-45deg);
    position: absolute;
    left: 9px;
    top: -11px;
	 -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#return-to-top:hover:before {
	color:white;
	left:4px;
	top:-16px;
}


#return-to-top.show {
	right: 20px;
	opacity:1;
}

#return-to-top:hover {
	border-radius: 0px 50px 50px 50px;
	background: rgba(80, 178, 234, 0.9);
}

.ribbon.one {
	width: 86.2%;
	max-width: 1800px;
	height: 80px;
	margin: 0px auto; 
	position: relative;
	margin-bottom:-30px;
}

.one.fixed > div {
	position: fixed;
}

.ribbon.fixed .ribbon-main {
	width: 81%;
    left: 54.5%;
}

.ribbon.fixed .bk {
	width:6.85%;

}

.ribbon.fixed .bk.l {
	left:6.9%;
}

.ribbon.fixed .bk.r {
	right:6.9%;
}

.ribbon.fixed .skew {
	top:4px;
}

.ribbon.fixed .skew.l {
	left:10.8%
}
.ribbon.fixed .skew.r {
	right:10.8%
}

.one > div {
	height: 50px;
}

.ribbon-main {
	background: #50B2EA; 
	position: relative;
	display: block;
	width: 94%;
	left: 48%;
	top: 0;
	padding: 5px;
	margin-left: -45%;
	z-index: 300;
}

.ribbon-main > div {
	border: 1px dashed #fff;
	border-color: rgba(255, 255, 255, 0.5);
	height: 40px;
}

.ribbon-main:after {
	content: '';
    position: absolute;
    bottom: 0px;
    height: 1px;
    display: block;
    box-shadow: 2px 3px 6px 0.5px black;
    width: 100%;
    left: 0px;
}



.bk {
	background: #29A1E6;
	position: absolute;
	width: 8%;
	top: 12px;
}

.bk.l {
	left: 0;
}

.bk.r {
	right: 0;
}

.skew {
	position: absolute;
	background: #178ACC;
	width: 3%;
	top: 6px;
	z-index: 5;
}

.skew.l {
	left: 5%;
	transform: skew(00deg,20deg);
}

.skew.r {
	right: 5%;
	transform: skew(00deg,-20deg);
}

.bk.l > div {
	left: -30px;
}

.bk.r > div {
	right: -30px;
}

.sub-menu {
	height: 100%;
    overflow-x: hidden;
    padding-top: 6px;
    margin-top: -6px;
}

.sub-menu.ribbon ul {
	margin: 0;
	width: 97%;
}

.sub-menu.ribbon li {
	width:100%;
	margin:0;
	position:relative;	
	margin:6px 0;
}

.sub-menu li div {
	box-shadow:2px 2px 2px rgba(0,0,0,0.25);
}



.sub-menu li:before {
    content: " "; 
    transform: skew(00deg,-11deg);
    width: 99%;
    height: 36px;
    background-color: #178ACC;
    position: absolute;
    top: -24px;
    left: 7px;
    z-index: 100;
}

.sub-menu ul :first-child:before {
/*	display:none;*/
}

.sub-menu .ribbon-main:after {
	display:none;
}

.sub-menu .ribbon-main {
	width:100%;
}

.arrow {
	height: 25px !important;
	position: absolute;
	z-index: 2;
	width: 0; 
	height: 0; 
}

.arrow.top {
	top: 0px;
	border-top: 0px solid transparent;
	border-bottom: 25px solid transparent; 	
	border-right: 30px solid #29A1E6; 
}

.arrow.bottom {
	top: 25px;
	border-top: 25px solid transparent;
	border-bottom:0px solid transparent; 	
	border-right: 30px solid #29A1E6; 
}

.r .bottom {
	border-top: 25px solid transparent;
	border-bottom: 0px solid transparent; 	
	border-left: 30px solid #29A1E6; 
	border-right: none;
}

.r .top {
	border-bottom: 25px solid transparent;
	border-top: 0px solid transparent; 	
	border-left: 30px solid #29A1E6; 
	border-right: none;
}


.ribbon li {
	list-style:none;
	float:left;
	margin:6px 4px;

}
.ribbon ul a, .ribbon ul label {
	display:block;
	text-decoration:none;
	color:inherit;
	padding:2px 6px;
	color:white;
	font-weight:bold;
	background-color:#219EE5;
	border-radius:5px;
	border:1px solid transparent;
	cursor:pointer;
}

.btn-action {
	display: block;
    text-decoration: none;
    color: inherit;
    padding: 2px 6px;
    color: white;
    font-weight: bold;
    border-radius: 2px;
    border: 1px solid transparent;
    cursor: pointer;
	text-transform:uppercase;
	
}

.ribbon ul {margin:0 16px;}

.ribbon li a:hover,
.ribbon li label:hover {  
	background:#178acc;
	border-color: rgba(255,255,255,0.5);
}

.ribbon li .btn-danger:hover {  
	background:#B6191F;
}

.ribbon li.active a, 
.ribbon li.active label {  
	background:#178acc;
	border-color: rgba(255,255,255,0.8);
}

.ribbon li.menu {
	display:none;
}


.headline {
	text-align:center;
	font-size:2em;
	line-height: 1;
}
.headline-logo {

	background: url("../images/mammamia.png") center center no-repeat;
	background-size: contain;
	margin-bottom:10px;
	text-shadow: none;
    color: transparent;
	border: 0;

}
.headline-logo:after {
	content:"\7F";	
	font-size:300%;
}
.headline-logo span {
    font: 0/0 a;
}
.headline-by, .headline-small-credit{
	font-size:45%;
}
.headline-main-credit {
	font-size:100%;
}

.headline-mid-credit {
	font-size:70%;
}

.headline-mid-row {
	line-height:70%
}

form label {
	color: rgb(23, 138, 204);
}


.module {
	background-color: #178acc;
    padding: 10px;
    
    background-clip: padding-box;
	border-radius: 3px;
	margin-bottom:16px;
}

.module.spaced {
	border: 6px solid transparent;
	border-radius: 9px;
	margin-bottom:0px;
}

.module h2 {
	border-radius:3px 3px 0 0 ;
}

.module a {
	color:rgba(255,255,255,0.6);
}

form.module {
	background-color: rgba(23, 138, 204, 0.15);
}

.module.heading, .module.footer  {
	background-color: #219EE5;
	border: 0px solid transparent;
	border-radius: 3px 3px 0 0;
	position: relative;
    z-index: 5000;
	top:-3px;
	border: 1px solid hsla(202, 40%, 35%, 0.15);
	border-bottom:1px solid #126ca1;
	background-clip: border-box;
	margin-bottom:0;
	
	background: rgb(33,158,229);
	background: -moz-linear-gradient(top, rgba(33,158,229,1) 0%, rgba(23,138,204,1) 100%);
	background: -webkit-linear-gradient(top, rgba(33,158,229,1) 0%,rgba(23,138,204,1) 100%);
	background: linear-gradient(to bottom, rgba(33,158,229,1) 0%,rgba(23,138,204,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#219ee5', endColorstr='#178acc',GradientType=0 );
}
.module.footer {
	top:3px;
	border-width:0;
	border-radius:0 0 3px 3px;
	color: white;
	text-align:center;
	min-height:100px;
	margin-top:20px;
	border-top:1px solid #126ca1;
	border-bottom:1px solid #126ca1;


}

.module.heading h2 {
	margin:7px 0 ;
	padding:6px;
    border-bottom: 3px solid white;
    box-shadow: 0px 2px 0px rgba(0,0,0,0.125);
}

h4 {
	line-height: 26px;
}

.module .module-inner {
	background-color:white;
}

.module h1, .module h2 {
	color:white;
}

.module .module-title {
	color: white;
	margin-top: 0;
	border-bottom:3px solid #50B2EA;
	min-height: 37px;
}

.module .module-title i {
	padding: 5px;
	background: #50B2EA;
}

.twitter-timeline, .fb-page.fb_iframe_widget {
	display:block;
	margin:0 auto;
}

header > div:first-of-type, nope.module.row > div {
	border-left:2px solid rgba(255,255,255,0.2);
	border-right:2px solid rgba(125,125,125,0.2);
}


h2, .module-title, .ribbon li, h1 {
	text-shadow: 1px 1px 3px rgba(0,0,0,0.3);
}

h1 small {
	text-shadow:initial;
	display:inline-block;
}

.actions {
	border-top: 1px solid rgba(255,255,255,0.25);
    padding: 5px;
    margin-top: 30px;
    position: relative;
}
.actions h2 {
	position: relative;
    top: -25px;
    margin: 0 auto -20px;
    width: 50%;
    display: block;
    background: #178acc;
    left: 0;
    text-align: center;
}
.actions p {
	background-color: rgba(255,255,255, 0.75);
    padding: 10px;
	margin:0;
    border-radius: 2px;
    border: 1px solid rgba(0,0,0,0.1);
}

blockquote, .blockquote-reverse {
	color:white;
	border:none;
}

blockquote footer {
	color:#ccc;
}

blockquote h3 {margin:0;}

article p {
	font-weight: 300;
	font-size: 120%;
}

article h4::first-letter, article p::first-letter {
    font-size: 150%;
    padding-right: 0px;
}

.thumbnail {
	position: relative;
}

.thumbnail img {
	opacity:1;
	-webkit-transition: opacity 0.3s linear;
    -moz-transition: opacity 0.3s ease;
    -ms-transition: opacity 0.3s ease;
    -o-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
}

.thumbnail:hover img {
	opacity:0.5;
}
.thumbnail .caption {
	position: absolute;
	bottom:0;
	left:0;
	width:100%;
	padding:4px;
	color:white;
	-webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.thumbnail:hover .caption {
	top:0;
}
.thumbnail .caption .inner {
	padding:6px;
	width:100%;
	height:100%;
	background-color:rgba(0,0, 0, 0.5);
	border-top:1px solid rgba(255, 255,255,0.3);
	overflow: hidden;
}

.thumbnail .caption h3 {
	margin:0;
}

.thumbnail h3 small {
	color:#50B2EA;
	font-weight:bold;
	text-transform: uppercase;
	display: block;
	font-size:50%;
	margin:3px 0;
}

.thumbnail:hover h3 small {
	    border-bottom: 1px solid white;
}

.thumbnail .caption p {
	margin:0;
}

.thumbnail .caption .bio {
	font-size:75%;
	display:none;	
}
.thumbnail:hover .caption .bio {
	display:block;	
}

.thumbnail .caption .bio strong {
	color:#50B2EA;
}

.bio {
	margin-left:0;
	margin-right:-10px;
}

.bio .bio-pic {
	margin-right:10px;
}

.bio .bio-name {
	margin-left: -10px;
    position: relative;
    left: -10px;
    padding-right: 10px;
}

.bio .bio-name small {
	color:#50B2EA;
}

.bio-page .bio-photo {
	width:30%;
	margin-right:2%;
	min-width:200px;
	margin-bottom: 0;
	position:relative;
}

.bio-page .bio-heading {
	width: 63%;
    margin-bottom: -10px;
	position:relative
		
}

.bio-page .bio-heading:before {
	content: " ";
    width: 39%;
    height: 100%;
    position: absolute;
    top: 0;
    left: -139px;
    background-color: #178acc;
    max-width: 141px;
}

.cast-and-crew .thumbnail:after {
	content:" ";
	position: absolute;
	width:100%;
	height:100%;
	top:0;
	background: -moz-radial-gradient(bottom left, ellipse cover,  rgba(30,87,153,1) 0%, rgba(41,137,216,0.44) 50%, rgba(32,124,202,0.43) 51%, rgba(125,185,232,0) 100%);
	background: -webkit-radial-gradient(bottom left, ellipse cover,  rgba(30,87,153,1) 0%,rgba(41,137,216,0.44) 50%,rgba(32,124,202,0.43) 51%,rgba(125,185,232,0) 100%);
	background: radial-gradient(ellipse at bottom left,  rgba(30,87,153,1) 0%,rgba(41,137,216,0.44) 50%,rgba(32,124,202,0.43) 51%,rgba(125,185,232,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#477db9e8',GradientType=1 );

}

@media all and (max-width: 768px) {
	.bio-page .bio-heading {
		width:100%;
		float:none !important;
	}
	.bio-page .bio-heading:before {
		display:none;
	}
	
	.bio {
		margin-right:0;
	}
	
	.bio .bio-name {
		margin-left:0;
		margin-bottom:0;
		left:0;
		
	} 
	.bio .bio-name h2 {
		margin-bottom:0;
	
	} 
	.bio .bio-pic {
		position:relative;
		top:-10px;
		margin-bottom:-10px;
	}
}

.bio-page .bio-content {
	clear: right;
    padding-top: 21px;
}

.bio-page .close {
	display:none;
}

.modal .bio-page .close {
	display:block;
}

.bio-page.alert {
	padding:0;
	margin:0;
}

.modal .bio-page.alert  {
	background-color:white;
}


.thumbnail img.missing {
    min-width:100%	
}
.thumbnail img.missing + .caption::before {
	position: absolute;
    content: ":(";
    font-size: 10vw;
    transform: rotate(90deg);
    width: 100%;
    top: -7vw;
    color: #eee;
    margin-left: 10px;
}

#wrapper {
	position:relative;
	z-index:50;
}
.curtain {
	position: absolute;
    height: 100rem;
    width: 25%;
    background: url(../images/curtain.png) right -60px no-repeat;
    top: 0;
    z-index: 1;
	transition: all 100ms linear;


}
.curtain-right {

	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
	filter: FlipH;
	-ms-filter: "FlipH";
	left:inherit;
	right:0;
}

.tickets {
	border:1px solid black;
	padding:8px;
	max-width:384px;
}

.ticket-seat {
    width: 3px;
    height: 3px;
    display: inline-block;
    border: 1px solid transparent;
    cursor: pointer;   
	margin:1px 1px 0 0;
}

.ticket-price-group-A .ticket-seat {
	background:cyan;
}

.ticket-price-group-B .ticket-seat {
	background:firebrick;
}

.ticket-section {
	padding: 0.5vw;
    display: inline-block;
    margin: 0.5vw;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.ticket-section.ticket-price-group-B {
	bbackground-color:firebrick;
}
.ticket-section.ticket-price-group-A {
	bbackground-color:cyan;
}

.ticket-section:hover {
    border: 1px solid grey;
	background-color: hotpink;
	
}

.ticket-seat:hover {
	background-color:lightgreen;
	border: 1px solid #999;

}

.ticket-section.no-left-margin {
	margin-left:0;
	transform-origin:left;
	border-radius:0 5px 5px 0;
	border-left-width: 0;

}
.ticket-section.no-right-margin {
	margin-right:0;
	padding-right:1px;
	transform-origin:right;	
	border-radius:5px 0 0 5px;
}

.ticket-section.no-bottom-margin {
	margin-bottom:0;
	border-radius:5px 5px 0 0;
	border-bottom-width: 0;
}

.ticket-section.no-top-margin {
	margin-top:0;
	padding-top:1px;
	border-radius:0 0 5px 5px;
}

.ticket-section.rotate-10-ccw {
	transform: rotate(-10deg);
}

.ticket-section.rotate-10-cw {
	transform: rotate(10deg);
}

.ticket-section.break-13 .ticket-seat:nth-of-type(13),
.ticket-section.break-26 .ticket-seat:nth-of-type(23) {
	margin-right:1vw;
}

.tickets .tickets-stage {
	height: 50px;
    overflow: hidden;
    width: 100%;
    padding: 10px 0;
	margin-bottom:10px;
	position:relative;
}

.tickets .tickets-stage:before {
	content: ' ';
    display: block;
    border-top: 10px solid #ccc;
    width: 100%;
    height: 500px;
    border-radius: 25%;
    color: #666;
}

.tickets .tickets-stage:after {
	content: 'stage';
    text-align: center;
    width: 100%;
    position: absolute;
    font-size: 200%;
    text-transform: uppercase;
	top:15px;
	color:#ccc;
}

.ticket-section {
	float:left;
	position:relative;
}

.ticket-section-T1, ticket-section-F1 {
	clear:both;
}

.ticket-section-T3 {
	margin-left:14%;
}

.ticket-section-T1, 
.ticket-section-T2 {
	margin-top:16px; 
}

.ticket-section-T5, 
.ticket-section-T6 {
	top:-14px;
}

.ticket-section-F4,
.ticket-section-F5 { 
	margin-left:5px;
}

.ticket-section-T5 {
	margin-left:5px;
}

.ticket-section-F1 {
	margin-left:16px;
}

.ticket-section-F1,
.ticket-section-F2,
.ticket-section-F3 {
	top:-10px;
}

.jumbotron {
	background: url(/showpic.jpg);
}

.jumbotron h1, .jumbotron p  {color:white;}

.sponsors {
	border:3px solid #178acc;
	border-radius:3px;
}
.sponsors h2 {margin-top:0;}

.sponsors .row {
	padding:0 10px;
}

.sponsors .module {
	border-radius:0;
}


.sponsors .thumbnail:after {
	content:"\f005";
	position: absolute;	
	top:-30px;
	right:-20px;
	font-size:10px;
	font-family: FontAwesome;
	font-weight: normal;
	font-style: normal;
	text-decoration: inherit;
	-webkit-font-smoothing: antialiased;
	text-shadow: 0 0 4px rgba(0,0,0,0.25), 0 0 1px rgba(0,0,0,0.525)
}

.sponsors .gold .thumbnail {
	background-color:#ccad00;
}
.sponsors .silver .thumbnail {
	background-color:silver;
}
.sponsors .bronze .thumbnail {
	background-color:#8f6e3d;
}

.sponsors .gold .thumbnail:after {
	font-size:50px;
	color:#ccad00;

}

.sponsors .silver .thumbnail:after {
	font-size:30px;
	color:silver;
	top:-19px;
	right:-12px

}

.sponsors .bronze .thumbnail:after {
	font-size:15px;
	color:#8f6e3d;
	top:-10px;
	right:-6px

}

.sponsors .bronze .thumbnail .caption {
	display:none;
}

.sponsors .row {
	text-align: center;
}

.sponsors .thumbnail .caption .inner {
	background: linear-gradient(to bottom, rgb(23, 138, 204) 10%, rgba(0,0,0,0.6) 100%);
    color: white;
}
.sponsors .inner h3 small {
	color:white;
}

.sponsors .inner a {
	color:rgba(255,255,255,0.5);
}

.sponsors.main .row {
	display:table;
}
.sponsors.main .row > div {
	display:inline-block;
	float:none;
}


@media all and (max-width: 1020px) {
	.skew.l {
		left: 5%;
		transform: skew(00deg,25deg);
	}

	.skew.r {
		right: 5%;
		transform: skew(00deg,-25deg);
	}
	.curtain {
		width: 40%;
	}
}

@media all and (max-width: 990px) {
	header {
		text-align:center;
	}
	header h1 span.pull-left {
		
		float:none !important;
	}
	header h1 small {
		text-align:left;
	}
}

@media all and (max-width: 680px) {
	.skew.l {
		left: 5%;
		transform: skew(00deg,30deg);
	}

	.skew.r {
		right: 5%;
		transform: skew(00deg,-30deg);
	}
	.curtain {
		width: 50%;
	}
	
	.ribbon li.menu {
		display:block;
	}
	
	.ribbon ul {
		background-color: #50B2EA;
		margin: 0;
		padding: 10px;
		padding:0 10px;
		max-height:0px;
		overflow:hidden;
		transition:all 200ms linear, margin 0ms linear;

	}
	
	#menu-toggle:checked ~ ul {
		max-height:inherit;
		margin-top: 43px;
		padding:10px;
		z-index: 0;
		box-shadow: 0px 4px 9px -2px;
	}
	
	#menu-toggle:checked ~ ul li.menu label {
		background:#178acc;
		border-color: rgba(255,255,255,0.8);
	} 
	
	.ribbon ul li.menu-item {
		font-size:150%;
	}
	
	.ribbon ul li.menu {
		position: absolute;
		top: 6px;
		left: 6px;
		display: block;
	}
	.ribbon ul li.menu label {
		padding-left:18px;
	}
	.ribbon ul li.menu label:before {
		content: "";
		position: absolute;
		left: 5px;
		top: 8px;
		
		width: 0.75em;
		height: 0.15em;
		background: white;
		box-shadow: 
		  0 0.25em 0 0 white,
		  0 0.5em 0 0 white;
	}
	
	.ribbon ul li {
		float:none;
	}
	
	.ribbon ul li.book {
		position: absolute;
		top: 6px;
		right: 6px;
	}
	
}	



@media all and (max-width: 991px) {
	header.row > div {
		padding:6px 0;
		border-bottom:2px solid rgba(125,125,125,0.2);
	}

}

@media all and (max-width: 460px) {
	.skew.l {
		left: 5%;
		transform: skew(00deg,40deg);
	}
	.skew.r {
		right: 5%;
		transform: skew(00deg,-40deg);
	}

}